.bigandbold{
    font-weight: bold;
    font-size: 2em;
}
    
.jumbotron {
    margin-bottom: 0;
}
   
.footer {
    background-color: #f2f2f2;
    padding: 25px;
}


html body{
    background-color: rgb(234, 234, 234);
    height: 100%;
}

hr {
    display: block;
     border-color: black;
     margin-left: 25px;
     margin-right: 25px;
}