.bigandbold{
    font-size: 1.5em;
    font-weight: bold;
}

.jumbotron{
    margin-bottom: 0;
}

.bold{
    font-weight: bold;
}

.saatavuus{
    padding-bottom: 20px;
    padding-left: 20px;
}

html body{
    background-color: rgb(234, 234, 234);
    height: 100%;
}

hr {
    display: block;
     border-color: black;
     margin-left: 25px;
     margin-right: 25px;
}