/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}
    
/* Remove the jumbotron's default bottom margin */ 
    .jumbotron {
    margin-bottom: 0;
}
   
/* Add a gray background color and some padding to the footer */
footer {
    padding: 25px;
}